<div class="article-space">
    <div class="wrapper">
        <div class="card"> 
            <div class="title">Languages :</div>
            
            <div class="content"> Java, Python, Typescript, JavaScript/HTML/CSS, C and C#</div>
        </div>
        <div class="card">
            <div class="title">Frameworks:</div>
            <div class="content">NextJS, Angular, React, Node.js, Spring Boot, .NET, Bun</div>
        </div>
        <div class="card">
            <div class="title">Developer tools : </div>
            
            <div class="content"> Git,MongoDB, PostgreSQL,MySQL Docker, Kubernetes, Firebase, AWS Lambda, NeoVIM, Jira</div>
        </div>
        <div class="card">
            <div class="title">Testing skills :</div>
            <div class="content"> TDD/BDD/ATDD, Selenium, JUnit, CyPress, Postman, Server/Component/System testing and
            Integration testing</div>
        </div>
    </div>
</div>
