<div>
    <div class="scroller">
    <div class="title">Paid Project : WalletLabels</div>
    <div class="job">BigQuery, MongoDB, NextJS</div>
    <div class="date">Jan. 2023 - Mar. 2023</div>
    <div class="bullet">Manipulated Flipside's APIs to gather data through reliable and accurate E.T.L practices </div>
    <div class="bullet">Automated an import Google Colab instance to group and pass over 33M lines of data to MongoDB and BigQuery</div>
    <div class="bullet">Carried out exploratory profiling and sense making on BigQuery</div>
    <div class="bullet">Indexed and collated multiple collections on MongoDB</div>
    <div class="bullet">Created and deployed multiple APIs on WalletLabel's nextJS</div>
    <div class="bullet">Carried a range of tests upon deployments on Vercel</div>
    <div class="bullet">Done a thorough documentation through MDX</div>

    <div class="title">Academic projects : PlayHouse - SkyTravel</div>
    <div class="job">Spring Boot, JUnit,Maven, Apache, Jenkins, Angular, GIT, MySQL, GTK, SonarQube</div>
    <div class="date">2020,2021</div>
    <div class="bullet">Developed a full-stack web application using SpringBoot and angular</div>
    <div class="bullet">Fully working authentication and authorisation</div>
    <div class="bullet">Explored CI/CD pipelines via Jenkins</div>
    <div class="bullet">Achieved high test coverage via JUnit & SonarQube</div>
    </div>
</div>
