<nav >
    <div id="nav-logo-section" class="nav-section">
        <a href="#">
            <fa-icon [icon]="faDumpsterFire"></fa-icon>
        </a>
    </div>
    <div id="nav-link-section" class="nav-section">
        <a href="#">
            ABOUT
        </a>
        <a href="#">
            WORK
        </a>
    </div>
    <div id="nav-social-section" class="nav-section">
        <a href="https://www.linkedin.com/in/wassel-hechmi/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        
        <a href="https://github.com/MaghirSokker"><fa-icon [icon]="faGithub"></fa-icon></a>
    </div>

    <div id="nav-contact-section" class="nav-section">
        <a href=""> GET IN TOUCH</a>
    </div>

</nav>