<div class="article-space">

    <div class="scroller">
        <div class="card">
            <div class="card-header">
                <div class="top">
                    <div class="title">Laevitas</div>
                    <div class="job">Junior Software Developer</div>
                </div>
                <div class="bottom">
                    <div class="date">Dec. 2020 - Jul. 2022</div>
                </div>
            </div>
            <div class="card-body">
                <div class="bullet">Developed multiple REST APIs pulling data from MangoDBs, Postgresql and cached on Redis over HTTP and WS</div>
                <div class="bullet">Developed and consumed multiple graphQLs</div>
                <div class="bullet">Built multiple instances of data-scrapper and automated their deployment and execution with Jenkins</div> 
                <div class="bullet">Built specialized chatbots on Telegram and Twitter</div>
                <div class="bullet"> Collaborated with various clients to build a Real-Time wallet analyzer with React using wallet-adapter and
            deployed on Vercel</div>
                <div  class="bullet">Dealt with smart contracts and ERC-20 Tokens via Web3 using customized RPC endpoints</div>
                <div class="bullet">Developed a full-stack web application using Angular, Lambda, GraphQL, PostgreSQL and Docker to analyze
            market data</div>
                <div class="bullet">Built the front-end of an NFT Analysis off-shoot of Laevitas using Angular</div>
                <div class="bullet">Ensured the quality of multiple Dex projects integration and implementation throughout different KPIs</div>
                <div class="bullet">Actively used AGILE Methods through the different projects</div>
                <div class="bullet">Led and assisted multiple skill-sharing points working within multiple teams</div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="top">
                    <div class="title">VSober</div>
                    <div class="job">Internship</div>
                </div>
                <div class="bottom">
                    <div class="date">May 2020 - June 2020</div>
                </div>
            </div>
            <div class="card-body">
                <div class="bullet">Animated 3D models for VR Usage to help patients through Exposure therapy</div>
                <div class="bullet">Focused on the UX part of the app in order to ensure ease of use by children</div>
                <div class="bullet">Built scenarios using Unity</div>
            </div>
        </div>
        
        <div class="card">
        <div class="card-header">
        <div class="top">
        <div class="title">Laevitas</div>
        <div class="job">Junior Software Developer</div></div>
        <div class="bottom">
        <div class="date">Dec. 2020 - Jul. 2022</div>
        </div>

        <div class="card-body">

        <div class="bullet">Developed multiple REST APIs pulling data from MangoDBs, Postgresql and cached on Redis over HTTP and WS</div>
        <div class="bullet">Developed and consumed multiple graphQLs</div>
        <div class="bullet">Built multiple instances of data-scrapper and automated their deployment and execution with Jenkins</div> 
        <div class="bullet">Built specialized chatbots on Telegram and Twitter</div>
        <div class="bullet"> Collaborated with various clients to build a Real-Time wallet analyzer with React using wallet-adapter and
    deployed on Vercel</div>
        <div  class="bullet">Dealt with smart contracts and ERC-20 Tokens via Web3 using customized RPC endpoints</div>
        <div class="bullet">Developed a full-stack web application using Angular, Lambda, GraphQL, PostgreSQL and Docker to analyze
    market data</div>
        <div class="bullet">Built the front-end of an NFT Analysis off-shoot of Laevitas using Angular</div>
        </div>
        </div>
        </div>
        </div>
</div>