.article-space{
    height: 37vh;
    overflow: hidden;
}
.card{
    padding-top:13px;
}

.title{
    font-size: 40px;
    color:white;
    text-shadow: 1px 0px 0.5rem rgb(91, 56, 152);
    font-family:'Rubik';

}
.job{
    font-family: 'sans-serif';
    color:white;
    font-size: 35px;
    text-shadow: 0.5px 0.5px 2px rgb(11, 99, 30);
}
.date{
    font-size: 25px;
    font-family: 'mono-space','Courier New';
    color:bisque;
}
